*{margin:0; padding:0;}

body{
    font-size: 14px;
}
/*comentario*/
.flex-container{
    display: flex;
    width: 100%;
}
.acessibilidade{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.atalhos, .atalhos2{
    list-style: none;
    display: inline-flex;
    padding: 5px;
    justify-content: left;
}
.atalhos li{
     padding-left: 10px;
}
.atalhos2{
    margin-left: 40%;

}
.atalhos2 li{
    padding-left: 10px;
}

#topo{
    background-color: #eee;
    height: auto;
    justify-content: center;
}
.imagem{
    width: 40%;
    height: auto;
}

nav{
   
    height: 100px;
    background-color: crimson;
    justify-content: center;
}

.menu{
    display: inline-flex;
    list-style:none;
    justify-content:space-around;
    align-items: center;
     
}

.menu li{
    
    position: relative;
    padding: 20px 30px;
       
}

.menu li a{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
        
}

.menu li a:hover{

    color: #000;
}

.menu li ul{
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: crimson;
    padding: 5%;
}

.menu li:hover ul{
    display: block;
    
}

.menu li ul li{
    display: block;
    width: 160px;
}
/* menu responsivo */

label[for="bt_menu"], #bt_menu{
    display: none;
}

#conteudo{
    min-height: 800px;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}

#conteudo h1{

    text-align: center;
    padding: 2% 5%;
}

section{
    padding: 2% 5%;
}

#rodape{
    justify-content: center;
    text-align: center;
    background-color: darkblue;
    color: #fff;
    height: 80px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form, fieldset{
    padding: 5%;
    border: none;
}

input, select, textarea{
    width: 60%;
    padding: 2%;
    border-radius: 10px;
}

label, legend{
    font-size: 0.7em;
}

button{

    width: 25%;
    padding: 2%;
    margin-left: 6%;
}

.required::after{
    content: " *";
    color: red;

}

/* media querie para menu */
@media screen and (max-width: 800px) {
    
    nav{

        justify-content: left;
        height: auto;
        width: 100%;
    }

    .menu{
        display: none;
    }

    label[for="bt_menu"]{
        margin: 2%;
        display: block;
    }

    #bt_menu:checked ~ .menu{
       
        display: block;
    }

    .menu li{

        padding: 10% 1px;
    }
}

/*media querie barra de acessibilidade*/

@media screen and (max-width: 1180px) {

    .acessibilidade{
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        width: 100%;
    }
    .atalhos, .atalhos2{
        list-style: none;
        display: inline-flex;
        padding: 4px;
        justify-content: left;
    }
    .atalhos li{
         padding-left: 4px;
    }
    .atalhos2{
        margin-left: 35%;
    
    }
    .atalhos2 li{
        padding-left: 5px;
    }
    
}

@media screen and (max-width: 820px) {

    .acessibilidade{
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        width: 100%;
    }
    .atalhos, .atalhos2{
        list-style: none;
        display: inline-flex;
        padding: 3px;
        justify-content: left;
    }
    .atalhos li{
         padding-left: 3px;
    }
    .atalhos2{
        margin-left: 20%;
    
    }
    .atalhos2 li{
        padding-left: 3px;
    }
    
}

@media screen and (max-width: 540px) {

    .acessibilidade{
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        width: 100%;
    }

    .atalhos{

        display: none;
    }
    .atalhos2{
        list-style: none;
        display: inline-flex;
        padding: 10px;
        justify-content: left;
    }
  
    .atalhos2{
        margin-left: 5%;
    
    }
    .atalhos2 li{
        padding-left: 10px;
    }
    
}

@media screen and (max-width: 360px) {

    .acessibilidade{
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        width: 100%;
    }

    .atalhos{

        display: none;
    }
    .atalhos2{
        list-style: none;
        display: inline-flex;
        padding: 3px;
        justify-content: left;
    }
  
    .atalhos2{
        margin-left: 2%;
    
    }
    .atalhos2 li{
        padding-left: 5px;
    }
    
}
