*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
img{
    width: 40%;
    height: auto;
}

.flex-container{
    display: flex;
    width: 100%;
}
.acessibilidade{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.atalhos, .links_acessibilidade{
    list-style: none;
    display: inline-flex;
    padding: 5px;
}
.atalhos li, .links_acessibilidade li{
    
    padding-left: 10px;
}

.links_acessibilidade{

    margin-left: 30%;
}

header{
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #530101;

}

nav li{
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
}

nav li a{
    color: #fff ;
}
main{
    flex-direction: column;

    
    
}
section{
    padding: 10px;
}

label{
    font-size: 1.2em;
    font-weight: bold;
}

input, textarea{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 30%;
    border-radius: 10px;

}

button{
    width: 10%;
    height: 40px;
    background-color: #530101;
    color: #fff;
}
.required::after{
    content: " *";
    color: red;
}

footer{
    height: 10%;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    color: #fff;
    position: absolute;
    bottom: 0;
}